<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Add NUnit section -->
		<section name="NUnit" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<!-- Configure NUnit settings -->
	<NUnit>
		<!-- Set parallelizable option to "ParallelizableMethod" to run tests in parallel -->
		<add key="Parallelizable" value="ParallelizableMethod" />
	</NUnit>
</configuration>
